/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* 主题颜色 白天 */
  --im-theme-light-color: #57be6b;

  /* 主题颜色 黑夜 */
  --im-theme-dark-color: #58bf6a;

  /* 左边 sider栏背景 */
  --im-siderBg-dark-color: #2b2a2b;
  --im-siderBg-light-color: #e6e5e5;

  /* topSearch */
  --im-topSearch-dark-color: #191919;
  --im-topSearch-light-color: #f7f7f7;

  /* cve 会话 */
  /* 会话item */
  --im-cveItem-dark-color: #202020;
  --im-cveItem-light-color: #ebebeb;
  /* chat_page */
  --im-chatPage-dark-color: #111111;
  --im-chatPage-light-color: #f3f3f3;
  /* chat_page_header_solid */
  --im-chatPageSolid-light-color: #dfdfdf;
  --im-chatPageSolid-dark-color: #1d1d1d;

  /* 消息气泡框背景 */
  --im-chatMsgBg-dark-color: #2c2c2c;
  /* 文件消息背景 */
  --im-fileMsgBg-dark-color: #354c3a;
  --im-fileMsgBg-light-color: #a0bca6;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /*  按钮 */
  /* --im-theme-button: var(---im-theme-light-color); */
  /* 默认样式 */
  --im-theme-primary: var(--im-theme-light-color);
  /* sider背景 */
  --im-theme-siderBg: var(--im-siderBg-light-color);
  /* topSearch */
  --im-theme-topSearchBg: var(--im-topSearch-light-color);

  /* cve 会话 */
  /* 会话item */
  --im-theme-cveItemBg: var(--vt-c-white-soft);
  /* chat_page */
  --im-theme-chatPageBg: var(--im-chatPage-light-color);
  /* chat_page_header_solid */
  --im-theme-chatPageSolid: var(--im-chatPageSolid-light-color);
  /* 消息气泡框背景 */
  --im-theme-chatMsgBg: var(--vt-c-white);
  /* 当前cve会话活跃背景 */
  --im-theme-activeCveBg: #efefef;
  /* 文件消息背景 */
  --im-theme-fileMsgBg: var(--im-fileMsgBg-light-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    /* 按钮 */
    /* --im-theme-button: var(--im-theme-dark-color); */
    --im-theme-primary: var(--im-theme-dark-color);
    /* sider背景 */
    --im-theme-siderBg: var(--im-siderBg-dark-color);
    /* topSearch */
    --im-theme-topSearchBg: var(--im-topSearch-dark-color);

    /* cve 会话 */
    /* 会话item */
    --im-theme-cveItemBg: var(--im-cveItem-dark-color);
    /* chat_page */
    --im-theme-chatPageBg: var(--im-chatPage-dark-color);
    /* chat_page_header_solid */
    --im-theme-chatPageSolid: var(--im-chatPageSolid-dark-color);
    /* 消息气泡框背景 */
    --im-theme-chatMsgBg: var(--im-chatMsgBg-dark-color);
    /* 当前cve会话活跃背景 */
    --im-theme-activeCveBg: var(--vt-c-divider-dark-2);
    /* 文件消息背景 */
    --im-theme-fileMsgBg: var(--im-fileMsgBg-dark-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
  color: var(--im-theme-primary);
}

li {
  list-style: none;
}

.title {
  color: var(--color-heading);
}

.sub_title {
  font-size: 12px;
}

a {
  /* color: var(--im-theme-primary); */
  display: inline-block;
  cursor: pointer;
}

/* 西瓜播放器默认样式修改啊 */
.xgplayer-skin-default .xgplayer-progress-played {
  background-image: linear-gradient(
    -90deg,
    var(--im-theme-primary),
    var(--im-theme-primary)
  ) !important;
}

.xgplayer-skin-default .xgplayer-drag {
  background: var(--im-theme-primary) !important;
}

/* 会话列表和联系人群组列表 */
.cve_container,
.contact_container {
  width: 25.7vw;
  height: 100vh;
  position: relative;
  border-right: 1px solid var(--color-border);
}

.cve_list,
.contactList {
  padding-top: 60px;
  width: 100%;
}

.cve_item,
.contact_item_c {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 15px 20px 20px;
  margin-top: 15px;
  background-color: var(--im-theme-cveItemBg);
  border-bottom: 1px solid var(--im-theme-chatPageSolid);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10.9px rgba(0, 0, 0, 0.14),
    0px 0px 101px rgba(0, 0, 0, 0.02);
}

.cve_item:hover,
.contact_item_c:hover {
  background-color: var(--im-theme-activeCveBg);
}
.cve_item:nth-child(1),
.contact_item_c:nth-child(1) {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  .cve_item,
  .contact_item_c {
    box-shadow: 0px 0px 10.9px rgba(255, 255, 255, 0.14),
      0px 0px 101px rgba(255, 255, 255, 0.02);
  }
}

/* 聊天头部用户信息栏、联系人头部 */
.chat_hearder_container,
.contact_top_c {
  padding: 20px 0 5px 20px;
  width: calc(70vw - 10px);
  display: flex;
  justify-content: space-between;
  background-color: var(--im-theme-chatPageBg);
  border-bottom: 1px solid var(--im-theme-chatPageSolid);
  position: fixed;
  z-index: 116;
}
